<div id=<%= "#{dom_id contract}" %> class="table-row text-gray-600 text-sm">
  <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= "#{contract.contract_owner.first_name} #{contract.contract_owner.last_name}" %></div>
  <div class="table-cell border-t border-gray-300 p-4 pl-8">
    <%=
      button_tag "",
                 type: 'button',
                 class: "text-purple-600 hover:text-purple-800",
                 data: {
                   controller: "navigation",
                   action: "navigation#goTo",
                   path: "/contracts/supplier?id=#{contract.supplier.id}"
                 } do %>
      <%= contract.supplier.name %>
    <% end %>
  </div>
  <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.name %></div>
  <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.start_date %></div>
  <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.end_date %></div>
  <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.value.format %></div>
</div>
